h1{
    text-align: center;
}
#imageInput{
    text-align: center;
}
#encodeButton{
    text-align: center;
}
#canvas{
    text-align: center;
}
#decodeButton{
    text-align: center;
}
#decodedMessage{
    text-align: center;
}
h3{
    text-align: center;
}
input{
    text-align: center;
}